body {
	font-family: helvetica,sans-serif;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: #0078A8;
}
#map {
	width: 100%; height:800px;
		}
.leaflet-popup-content-wrapper {
	width: auto;
}
#map {
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
}
#legend {
    display:none;
    width:300px;
    position:absolute;
    left:50px;
    top:40px;
    background-color:white;
    padding:10px;
}
.note{
    font-size: 11px;
    margin-top: 10px;
    width: 280px;
    background-color:#ddd;
    padding: 10px;
}