body {
margin:0;
padding:0;
}
#menu {
position:fixed;
top:0;
left:10px;
margin: 5px;
bottom:0;
right:0;
font-size:13px;
font-family:sans-serif;
color: #777;
}
#map {
position:fixed;
top:20px;
bottom:0;
right: 0;
left:10px;
width: 1000px;
height: 600px;
border: 2px solid #666;
}
a, a:visited, a:hover {
text-decoration: none;
color: #777;
}
